body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

div.element {
    flex-basis: 6.25vw;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
}

.front {
    display:flex;
    width: 100%;
    position: fixed;
    z-index: 1;
    justify-content: center;
}

.choice {
    padding: 8px;
    background-color: transparent;
    color: black;
    border: transparent;
    border-radius: 30px;
}

.choice:hover {
    color: blue;
    background-color: white;
}