body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

div.item {
    flex-basis: 6.25vw;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
}
